{% extends "base_generic.html" %}

{% block content %}
    <button style="border-color: black;" disabled>
        <a onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" href="{% url 'delete-folder' folder.id %}" style="text-decoration: none;">Delete Folder
        </a>
    </button>
    <button style="border-color: black;" disabled>
        <a onmouseover = "this.style.color = 'black'" onmouseout = "this.style.color = 'blue'" href="{% url 'update-folder' folder.id %}" style="text-decoration: none;">Update Folder
        </a>
    </button>
    <br><br>
    {% if folder.bookmarks_set.all %}
    <ul class="list-group">
    {% for bookmark in folder.bookmarks_set.all %}
        <li class=" list-group-item flex-column align-items-start"><a style="text-decoration: none; color:black;" onmouseover = "this.style.color = 'blue'" onmouseout = "this.style.color = 'black'"  href="{{ bookmark.url }}" target="_blank">{{ bookmark.name }}--{{ bookmark.url }}
        <div class="dropdown show" style="display: inline-block; float: right;">
          <a class="btn" href="#" role="button" id="dropdownItemLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-v" style="color: grey;"></i>
          </a>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="btn btn-default btn-rounded" style="display: block;" href="{% url 'update-bookmarks' bookmark.id %}" onmouseover = "this.style.color = 'blue'" onmouseout = "this.style.color = 'black'">Update</a>
            <a class="btn btn-default btn-rounded" style="display: block;" href="{% url 'delete-bookmarks' bookmark.id %}" onmouseover = "this.style.color = 'blue'" onmouseout = "this.style.color = 'black'">Delete</a>
            <a class="btn btn-default btn-rounded" style="display: block;" href="{% url 'detail-bookmarks' bookmark.id %}" onmouseover = "this.style.color = 'blue'" onmouseout = "this.style.color = 'black'">Detail</a>
            <a class="btn btn-default btn-rounded" style="display: block;" href="{{ bookmark.url }}" target="_blank" onmouseover = "this.style.color = 'blue'" onmouseout = "this.style.color = 'black'">Open</a>
          </div>
        </div>
      </a>
        </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>There are no bookmarks in {{ folder.name }} folder</p>
  {% endif %}
{% endblock %}